<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.sinchon.mapper.user">

	<!-- 아이디 중복체크 -->
	<select id="checkDuplicationForId" parameterType="String" resultType="String">
		SELECT user_ID	AS userId
		FROM user
		WHERE user_ID = #{userId};
	</select>


	<!-- 회원가입 : 사용자 정보 Insert -->
	<insert id="insertUser" parameterType="com.project.sinchon.entity.UserEntity">
		INSERT INTO user
			   (
			     user_ID
			   , email
			   , pwd
			   )
		VALUES (
				  #{userId}
				, #{email}
				, #{pwd}
			   )
	</insert>
	
	
	<!-- 로그인 : 사용자가 입력한 정보와 비교할 정보 Select해서 반환 -->
	<select id="findByUserId" resultType="com.project.sinchon.config.security.auth.User">
		SELECT user_ID, pwd, roles
		FROM user
		WHERE user_ID = #{user_ID}
	</select>


	<!-- MyPage에서 회원정보 수정 -->
	<update id="updateUserProfile" parameterType="com.project.sinchon.entity.UserEntity">
		UPDATE user
		SET	firstname = #{firstname},
			lastname = #{lastname},
			sex = #{sex},
			country = #{country},
			age_group = #{ageGroup},
			NA_foods = #{NaFoods},
			update_date = NOW()
		WHERE user_ID = #{userId}
	</update>
	
	
	<!-- 회원 프로필 Select -->
	<select id="getUserProfile" parameterType="String" resultType="com.project.sinchon.entity.UserEntity">
		SELECT 	firstname
			  , lastname
			  , sex
			  , country
			  , age_group	AS ageGroup
			  , NA_foods	AS NaFoods
			  , reg_date	AS regDate
			  , update_date	AS updateDate
		FROM user
		WHERE user_ID = #{userId}
	</select>
	
	
	<select id="checkPasswordForProfileUpdate" parameterType="String" resultType="String">
		SELECT pwd
		FROM user
		WHERE user_ID = #{userId}
	</select>
</mapper>